@define-mixin cbutton {
  & {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
}