@define-mixin fa_icon $icon {
  & {
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    display: flex;
    align-self: center;
    justify-content: center;
    @mixin-content;
  }

  &::before {
    font-awesome: $icon;
  }
}