@import url('../extends/grey_button');

@define-mixin grey_button {
  & {
    @mixin cbutton;
    @mixin button_colors $grey, $dark-grey, $darkest-grey;
    @mixin button_text_colors black, black, white;
    @mixin icon;
  }

  &.inverted {
    @mixin button_colors white, $dark-grey, $darkest-grey;
    @mixin button_text_colors black, black, white;
  }
}