@import url('./variables');

@define-mixin icon {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $grey;
    width: 25px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.inverted {
    color: white;

    &:hover {
      color: $grey;
    }
  }

  &:hover {
    color: $darkest-grey;
  }
}