@import url('../modules/variables');

@define-mixin inverted_list {
  & {
    background: $inverted-even-background-color;
  }

  &:nth-child(odd) {
    background: $inverted-odd-background-color;
  }

  &:hover {
    background: $inverted-hover-background-color;
  }
}