@import url('../modules/variables');

@define-mixin list {
  & {
    background: $even-background-color;
  }

  &:nth-child(odd) {
    background: $odd-background-color;
  }

  &:hover {
    background: $hover-background-color;
  }
}