/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

@define-extend glass:before { content: $fa-var-glass; }
@define-extend music:before { content: $fa-var-music; }
@define-extend search:before { content: $fa-var-search; }
@define-extend envelope-o:before { content: $fa-var-envelope-o; }
@define-extend heart:before { content: $fa-var-heart; }
@define-extend star:before { content: $fa-var-star; }
@define-extend star-o:before { content: $fa-var-star-o; }
@define-extend user:before { content: $fa-var-user; }
@define-extend film:before { content: $fa-var-film; }
@define-extend th-large:before { content: $fa-var-th-large; }
@define-extend th:before { content: $fa-var-th; }
@define-extend th-list:before { content: $fa-var-th-list; }
@define-extend check:before { content: $fa-var-check; }
@define-extend remove:before,
@define-extend close:before,
@define-extend times:before { content: $fa-var-times; }
@define-extend search-plus:before { content: $fa-var-search-plus; }
@define-extend search-minus:before { content: $fa-var-search-minus; }
@define-extend power-off:before { content: $fa-var-power-off; }
@define-extend signal:before { content: $fa-var-signal; }
@define-extend gear:before,
@define-extend cog:before { content: $fa-var-cog; }
@define-extend trash-o:before { content: $fa-var-trash-o; }
@define-extend home:before { content: $fa-var-home; }
@define-extend file-o:before { content: $fa-var-file-o; }
@define-extend clock-o:before { content: $fa-var-clock-o; }
@define-extend road:before { content: $fa-var-road; }
@define-extend download:before { content: $fa-var-download; }
@define-extend arrow-circle-o-down:before { content: $fa-var-arrow-circle-o-down; }
@define-extend arrow-circle-o-up:before { content: $fa-var-arrow-circle-o-up; }
@define-extend inbox:before { content: $fa-var-inbox; }
@define-extend play-circle-o:before { content: $fa-var-play-circle-o; }
@define-extend rotate-right:before,
@define-extend repeat:before { content: $fa-var-repeat; }
@define-extend refresh:before { content: $fa-var-refresh; }
@define-extend list-alt:before { content: $fa-var-list-alt; }
@define-extend lock:before { content: $fa-var-lock; }
@define-extend flag:before { content: $fa-var-flag; }
@define-extend headphones:before { content: $fa-var-headphones; }
@define-extend volume-off:before { content: $fa-var-volume-off; }
@define-extend volume-down:before { content: $fa-var-volume-down; }
@define-extend volume-up:before { content: $fa-var-volume-up; }
@define-extend qrcode:before { content: $fa-var-qrcode; }
@define-extend barcode:before { content: $fa-var-barcode; }
@define-extend tag:before { content: $fa-var-tag; }
@define-extend tags:before { content: $fa-var-tags; }
@define-extend book:before { content: $fa-var-book; }
@define-extend bookmark:before { content: $fa-var-bookmark; }
@define-extend print:before { content: $fa-var-print; }
@define-extend camera:before { content: $fa-var-camera; }
@define-extend font:before { content: $fa-var-font; }
@define-extend bold:before { content: $fa-var-bold; }
@define-extend italic:before { content: $fa-var-italic; }
@define-extend text-height:before { content: $fa-var-text-height; }
@define-extend text-width:before { content: $fa-var-text-width; }
@define-extend align-left:before { content: $fa-var-align-left; }
@define-extend align-center:before { content: $fa-var-align-center; }
@define-extend align-right:before { content: $fa-var-align-right; }
@define-extend align-justify:before { content: $fa-var-align-justify; }
@define-extend list:before { content: $fa-var-list; }
@define-extend dedent:before,
@define-extend outdent:before { content: $fa-var-outdent; }
@define-extend indent:before { content: $fa-var-indent; }
@define-extend video-camera:before { content: $fa-var-video-camera; }
@define-extend photo:before,
@define-extend image:before,
@define-extend picture-o:before { content: $fa-var-picture-o; }
@define-extend pencil:before { content: $fa-var-pencil; }
@define-extend map-marker:before { content: $fa-var-map-marker; }
@define-extend adjust:before { content: $fa-var-adjust; }
@define-extend tint:before { content: $fa-var-tint; }
@define-extend edit:before,
@define-extend pencil-square-o:before { content: $fa-var-pencil-square-o; }
@define-extend share-square-o:before { content: $fa-var-share-square-o; }
@define-extend check-square-o:before { content: $fa-var-check-square-o; }
@define-extend arrows:before { content: $fa-var-arrows; }
@define-extend step-backward:before { content: $fa-var-step-backward; }
@define-extend fast-backward:before { content: $fa-var-fast-backward; }
@define-extend backward:before { content: $fa-var-backward; }
@define-extend play:before { content: $fa-var-play; }
@define-extend pause:before { content: $fa-var-pause; }
@define-extend stop:before { content: $fa-var-stop; }
@define-extend forward:before { content: $fa-var-forward; }
@define-extend fast-forward:before { content: $fa-var-fast-forward; }
@define-extend step-forward:before { content: $fa-var-step-forward; }
@define-extend eject:before { content: $fa-var-eject; }
@define-extend chevron-left:before { content: $fa-var-chevron-left; }
@define-extend chevron-right:before { content: $fa-var-chevron-right; }
@define-extend plus-circle:before { content: $fa-var-plus-circle; }
@define-extend minus-circle:before { content: $fa-var-minus-circle; }
@define-extend times-circle:before { content: $fa-var-times-circle; }
@define-extend check-circle:before { content: $fa-var-check-circle; }
@define-extend question-circle:before { content: $fa-var-question-circle; }
@define-extend info-circle:before { content: $fa-var-info-circle; }
@define-extend crosshairs:before { content: $fa-var-crosshairs; }
@define-extend times-circle-o:before { content: $fa-var-times-circle-o; }
@define-extend check-circle-o:before { content: $fa-var-check-circle-o; }
@define-extend ban:before { content: $fa-var-ban; }
@define-extend arrow-left:before { content: $fa-var-arrow-left; }
@define-extend arrow-right:before { content: $fa-var-arrow-right; }
@define-extend arrow-up:before { content: $fa-var-arrow-up; }
@define-extend arrow-down:before { content: $fa-var-arrow-down; }
@define-extend mail-forward:before,
@define-extend share:before { content: $fa-var-share; }
@define-extend expand:before { content: $fa-var-expand; }
@define-extend compress:before { content: $fa-var-compress; }
@define-extend plus:before { content: $fa-var-plus; }
@define-extend minus:before { content: $fa-var-minus; }
@define-extend asterisk:before { content: $fa-var-asterisk; }
@define-extend exclamation-circle:before { content: $fa-var-exclamation-circle; }
@define-extend gift:before { content: $fa-var-gift; }
@define-extend leaf:before { content: $fa-var-leaf; }
@define-extend fire:before { content: $fa-var-fire; }
@define-extend eye:before { content: $fa-var-eye; }
@define-extend eye-slash:before { content: $fa-var-eye-slash; }
@define-extend warning:before,
@define-extend exclamation-triangle:before { content: $fa-var-exclamation-triangle; }
@define-extend plane:before { content: $fa-var-plane; }
@define-extend calendar:before { content: $fa-var-calendar; }
@define-extend random:before { content: $fa-var-random; }
@define-extend comment:before { content: $fa-var-comment; }
@define-extend magnet:before { content: $fa-var-magnet; }
@define-extend chevron-up:before { content: $fa-var-chevron-up; }
@define-extend chevron-down:before { content: $fa-var-chevron-down; }
@define-extend retweet:before { content: $fa-var-retweet; }
@define-extend shopping-cart:before { content: $fa-var-shopping-cart; }
@define-extend folder:before { content: $fa-var-folder; }
@define-extend folder-open:before { content: $fa-var-folder-open; }
@define-extend arrows-v:before { content: $fa-var-arrows-v; }
@define-extend arrows-h:before { content: $fa-var-arrows-h; }
@define-extend bar-chart-o:before,
@define-extend bar-chart:before { content: $fa-var-bar-chart; }
@define-extend twitter-square:before { content: $fa-var-twitter-square; }
@define-extend facebook-square:before { content: $fa-var-facebook-square; }
@define-extend camera-retro:before { content: $fa-var-camera-retro; }
@define-extend key:before { content: $fa-var-key; }
@define-extend gears:before,
@define-extend cogs:before { content: $fa-var-cogs; }
@define-extend comments:before { content: $fa-var-comments; }
@define-extend thumbs-o-up:before { content: $fa-var-thumbs-o-up; }
@define-extend thumbs-o-down:before { content: $fa-var-thumbs-o-down; }
@define-extend star-half:before { content: $fa-var-star-half; }
@define-extend heart-o:before { content: $fa-var-heart-o; }
@define-extend sign-out:before { content: $fa-var-sign-out; }
@define-extend linkedin-square:before { content: $fa-var-linkedin-square; }
@define-extend thumb-tack:before { content: $fa-var-thumb-tack; }
@define-extend external-link:before { content: $fa-var-external-link; }
@define-extend sign-in:before { content: $fa-var-sign-in; }
@define-extend trophy:before { content: $fa-var-trophy; }
@define-extend github-square:before { content: $fa-var-github-square; }
@define-extend upload:before { content: $fa-var-upload; }
@define-extend lemon-o:before { content: $fa-var-lemon-o; }
@define-extend phone:before { content: $fa-var-phone; }
@define-extend square-o:before { content: $fa-var-square-o; }
@define-extend bookmark-o:before { content: $fa-var-bookmark-o; }
@define-extend phone-square:before { content: $fa-var-phone-square; }
@define-extend twitter:before { content: $fa-var-twitter; }
@define-extend facebook-f:before,
@define-extend facebook:before { content: $fa-var-facebook; }
@define-extend github:before { content: $fa-var-github; }
@define-extend unlock:before { content: $fa-var-unlock; }
@define-extend credit-card:before { content: $fa-var-credit-card; }
@define-extend rss:before { content: $fa-var-rss; }
@define-extend hdd-o:before { content: $fa-var-hdd-o; }
@define-extend bullhorn:before { content: $fa-var-bullhorn; }
@define-extend bell:before { content: $fa-var-bell; }
@define-extend certificate:before { content: $fa-var-certificate; }
@define-extend hand-o-right:before { content: $fa-var-hand-o-right; }
@define-extend hand-o-left:before { content: $fa-var-hand-o-left; }
@define-extend hand-o-up:before { content: $fa-var-hand-o-up; }
@define-extend hand-o-down:before { content: $fa-var-hand-o-down; }
@define-extend arrow-circle-left:before { content: $fa-var-arrow-circle-left; }
@define-extend arrow-circle-right:before { content: $fa-var-arrow-circle-right; }
@define-extend arrow-circle-up:before { content: $fa-var-arrow-circle-up; }
@define-extend arrow-circle-down:before { content: $fa-var-arrow-circle-down; }
@define-extend globe:before { content: $fa-var-globe; }
@define-extend wrench:before { content: $fa-var-wrench; }
@define-extend tasks:before { content: $fa-var-tasks; }
@define-extend filter:before { content: $fa-var-filter; }
@define-extend briefcase:before { content: $fa-var-briefcase; }
@define-extend arrows-alt:before { content: $fa-var-arrows-alt; }
@define-extend group:before,
@define-extend users:before { content: $fa-var-users; }
@define-extend chain:before,
@define-extend link:before { content: $fa-var-link; }
@define-extend cloud:before { content: $fa-var-cloud; }
@define-extend flask:before { content: $fa-var-flask; }
@define-extend cut:before,
@define-extend scissors:before { content: $fa-var-scissors; }
@define-extend copy:before,
@define-extend files-o:before { content: $fa-var-files-o; }
@define-extend paperclip:before { content: $fa-var-paperclip; }
@define-extend save:before,
@define-extend floppy-o:before { content: $fa-var-floppy-o; }
@define-extend square:before { content: $fa-var-square; }
@define-extend navicon:before,
@define-extend reorder:before,
@define-extend bars:before { content: $fa-var-bars; }
@define-extend list-ul:before { content: $fa-var-list-ul; }
@define-extend list-ol:before { content: $fa-var-list-ol; }
@define-extend strikethrough:before { content: $fa-var-strikethrough; }
@define-extend underline:before { content: $fa-var-underline; }
@define-extend table:before { content: $fa-var-table; }
@define-extend magic:before { content: $fa-var-magic; }
@define-extend truck:before { content: $fa-var-truck; }
@define-extend pinterest:before { content: $fa-var-pinterest; }
@define-extend pinterest-square:before { content: $fa-var-pinterest-square; }
@define-extend google-plus-square:before { content: $fa-var-google-plus-square; }
@define-extend google-plus:before { content: $fa-var-google-plus; }
@define-extend money:before { content: $fa-var-money; }
@define-extend caret-down:before { content: $fa-var-caret-down; }
@define-extend caret-up:before { content: $fa-var-caret-up; }
@define-extend caret-left:before { content: $fa-var-caret-left; }
@define-extend caret-right:before { content: $fa-var-caret-right; }
@define-extend columns:before { content: $fa-var-columns; }
@define-extend unsorted:before,
@define-extend sort:before { content: $fa-var-sort; }
@define-extend sort-down:before,
@define-extend sort-desc:before { content: $fa-var-sort-desc; }
@define-extend sort-up:before,
@define-extend sort-asc:before { content: $fa-var-sort-asc; }
@define-extend envelope:before { content: $fa-var-envelope; }
@define-extend linkedin:before { content: $fa-var-linkedin; }
@define-extend rotate-left:before,
@define-extend undo:before { content: $fa-var-undo; }
@define-extend legal:before,
@define-extend gavel:before { content: $fa-var-gavel; }
@define-extend dashboard:before,
@define-extend tachometer:before { content: $fa-var-tachometer; }
@define-extend comment-o:before { content: $fa-var-comment-o; }
@define-extend comments-o:before { content: $fa-var-comments-o; }
@define-extend flash:before,
@define-extend bolt:before { content: $fa-var-bolt; }
@define-extend sitemap:before { content: $fa-var-sitemap; }
@define-extend umbrella:before { content: $fa-var-umbrella; }
@define-extend paste:before,
@define-extend clipboard:before { content: $fa-var-clipboard; }
@define-extend lightbulb-o:before { content: $fa-var-lightbulb-o; }
@define-extend exchange:before { content: $fa-var-exchange; }
@define-extend cloud-download:before { content: $fa-var-cloud-download; }
@define-extend cloud-upload:before { content: $fa-var-cloud-upload; }
@define-extend user-md:before { content: $fa-var-user-md; }
@define-extend stethoscope:before { content: $fa-var-stethoscope; }
@define-extend suitcase:before { content: $fa-var-suitcase; }
@define-extend bell-o:before { content: $fa-var-bell-o; }
@define-extend coffee:before { content: $fa-var-coffee; }
@define-extend cutlery:before { content: $fa-var-cutlery; }
@define-extend file-text-o:before { content: $fa-var-file-text-o; }
@define-extend building-o:before { content: $fa-var-building-o; }
@define-extend hospital-o:before { content: $fa-var-hospital-o; }
@define-extend ambulance:before { content: $fa-var-ambulance; }
@define-extend medkit:before { content: $fa-var-medkit; }
@define-extend fighter-jet:before { content: $fa-var-fighter-jet; }
@define-extend beer:before { content: $fa-var-beer; }
@define-extend h-square:before { content: $fa-var-h-square; }
@define-extend plus-square:before { content: $fa-var-plus-square; }
@define-extend angle-double-left:before { content: $fa-var-angle-double-left; }
@define-extend angle-double-right:before { content: $fa-var-angle-double-right; }
@define-extend angle-double-up:before { content: $fa-var-angle-double-up; }
@define-extend angle-double-down:before { content: $fa-var-angle-double-down; }
@define-extend angle-left:before { content: $fa-var-angle-left; }
@define-extend angle-right:before { content: $fa-var-angle-right; }
@define-extend angle-up:before { content: $fa-var-angle-up; }
@define-extend angle-down:before { content: $fa-var-angle-down; }
@define-extend desktop:before { content: $fa-var-desktop; }
@define-extend laptop:before { content: $fa-var-laptop; }
@define-extend tablet:before { content: $fa-var-tablet; }
@define-extend mobile-phone:before,
@define-extend mobile:before { content: $fa-var-mobile; }
@define-extend circle-o:before { content: $fa-var-circle-o; }
@define-extend quote-left:before { content: $fa-var-quote-left; }
@define-extend quote-right:before { content: $fa-var-quote-right; }
@define-extend spinner:before { content: $fa-var-spinner; }
@define-extend circle:before { content: $fa-var-circle; }
@define-extend mail-reply:before,
@define-extend reply:before { content: $fa-var-reply; }
@define-extend github-alt:before { content: $fa-var-github-alt; }
@define-extend folder-o:before { content: $fa-var-folder-o; }
@define-extend folder-open-o:before { content: $fa-var-folder-open-o; }
@define-extend smile-o:before { content: $fa-var-smile-o; }
@define-extend frown-o:before { content: $fa-var-frown-o; }
@define-extend meh-o:before { content: $fa-var-meh-o; }
@define-extend gamepad:before { content: $fa-var-gamepad; }
@define-extend keyboard-o:before { content: $fa-var-keyboard-o; }
@define-extend flag-o:before { content: $fa-var-flag-o; }
@define-extend flag-checkered:before { content: $fa-var-flag-checkered; }
@define-extend terminal:before { content: $fa-var-terminal; }
@define-extend code:before { content: $fa-var-code; }
@define-extend mail-reply-all:before,
@define-extend reply-all:before { content: $fa-var-reply-all; }
@define-extend star-half-empty:before,
@define-extend star-half-full:before,
@define-extend star-half-o:before { content: $fa-var-star-half-o; }
@define-extend location-arrow:before { content: $fa-var-location-arrow; }
@define-extend crop:before { content: $fa-var-crop; }
@define-extend code-fork:before { content: $fa-var-code-fork; }
@define-extend unlink:before,
@define-extend chain-broken:before { content: $fa-var-chain-broken; }
@define-extend question:before { content: $fa-var-question; }
@define-extend info:before { content: $fa-var-info; }
@define-extend exclamation:before { content: $fa-var-exclamation; }
@define-extend superscript:before { content: $fa-var-superscript; }
@define-extend subscript:before { content: $fa-var-subscript; }
@define-extend eraser:before { content: $fa-var-eraser; }
@define-extend puzzle-piece:before { content: $fa-var-puzzle-piece; }
@define-extend microphone:before { content: $fa-var-microphone; }
@define-extend microphone-slash:before { content: $fa-var-microphone-slash; }
@define-extend shield:before { content: $fa-var-shield; }
@define-extend calendar-o:before { content: $fa-var-calendar-o; }
@define-extend fire-extinguisher:before { content: $fa-var-fire-extinguisher; }
@define-extend rocket:before { content: $fa-var-rocket; }
@define-extend maxcdn:before { content: $fa-var-maxcdn; }
@define-extend chevron-circle-left:before { content: $fa-var-chevron-circle-left; }
@define-extend chevron-circle-right:before { content: $fa-var-chevron-circle-right; }
@define-extend chevron-circle-up:before { content: $fa-var-chevron-circle-up; }
@define-extend chevron-circle-down:before { content: $fa-var-chevron-circle-down; }
@define-extend html5:before { content: $fa-var-html5; }
@define-extend css3:before { content: $fa-var-css3; }
@define-extend anchor:before { content: $fa-var-anchor; }
@define-extend unlock-alt:before { content: $fa-var-unlock-alt; }
@define-extend bullseye:before { content: $fa-var-bullseye; }
@define-extend ellipsis-h:before { content: $fa-var-ellipsis-h; }
@define-extend ellipsis-v:before { content: $fa-var-ellipsis-v; }
@define-extend rss-square:before { content: $fa-var-rss-square; }
@define-extend play-circle:before { content: $fa-var-play-circle; }
@define-extend ticket:before { content: $fa-var-ticket; }
@define-extend minus-square:before { content: $fa-var-minus-square; }
@define-extend minus-square-o:before { content: $fa-var-minus-square-o; }
@define-extend level-up:before { content: $fa-var-level-up; }
@define-extend level-down:before { content: $fa-var-level-down; }
@define-extend check-square:before { content: $fa-var-check-square; }
@define-extend pencil-square:before { content: $fa-var-pencil-square; }
@define-extend external-link-square:before { content: $fa-var-external-link-square; }
@define-extend share-square:before { content: $fa-var-share-square; }
@define-extend compass:before { content: $fa-var-compass; }
@define-extend toggle-down:before,
@define-extend caret-square-o-down:before { content: $fa-var-caret-square-o-down; }
@define-extend toggle-up:before,
@define-extend caret-square-o-up:before { content: $fa-var-caret-square-o-up; }
@define-extend toggle-right:before,
@define-extend caret-square-o-right:before { content: $fa-var-caret-square-o-right; }
@define-extend euro:before,
@define-extend eur:before { content: $fa-var-eur; }
@define-extend gbp:before { content: $fa-var-gbp; }
@define-extend dollar:before,
@define-extend usd:before { content: $fa-var-usd; }
@define-extend rupee:before,
@define-extend inr:before { content: $fa-var-inr; }
@define-extend cny:before,
@define-extend rmb:before,
@define-extend yen:before,
@define-extend jpy:before { content: $fa-var-jpy; }
@define-extend ruble:before,
@define-extend rouble:before,
@define-extend rub:before { content: $fa-var-rub; }
@define-extend won:before,
@define-extend krw:before { content: $fa-var-krw; }
@define-extend bitcoin:before,
@define-extend btc:before { content: $fa-var-btc; }
@define-extend file:before { content: $fa-var-file; }
@define-extend file-text:before { content: $fa-var-file-text; }
@define-extend sort-alpha-asc:before { content: $fa-var-sort-alpha-asc; }
@define-extend sort-alpha-desc:before { content: $fa-var-sort-alpha-desc; }
@define-extend sort-amount-asc:before { content: $fa-var-sort-amount-asc; }
@define-extend sort-amount-desc:before { content: $fa-var-sort-amount-desc; }
@define-extend sort-numeric-asc:before { content: $fa-var-sort-numeric-asc; }
@define-extend sort-numeric-desc:before { content: $fa-var-sort-numeric-desc; }
@define-extend thumbs-up:before { content: $fa-var-thumbs-up; }
@define-extend thumbs-down:before { content: $fa-var-thumbs-down; }
@define-extend youtube-square:before { content: $fa-var-youtube-square; }
@define-extend youtube:before { content: $fa-var-youtube; }
@define-extend xing:before { content: $fa-var-xing; }
@define-extend xing-square:before { content: $fa-var-xing-square; }
@define-extend youtube-play:before { content: $fa-var-youtube-play; }
@define-extend dropbox:before { content: $fa-var-dropbox; }
@define-extend stack-overflow:before { content: $fa-var-stack-overflow; }
@define-extend instagram:before { content: $fa-var-instagram; }
@define-extend flickr:before { content: $fa-var-flickr; }
@define-extend adn:before { content: $fa-var-adn; }
@define-extend bitbucket:before { content: $fa-var-bitbucket; }
@define-extend bitbucket-square:before { content: $fa-var-bitbucket-square; }
@define-extend tumblr:before { content: $fa-var-tumblr; }
@define-extend tumblr-square:before { content: $fa-var-tumblr-square; }
@define-extend long-arrow-down:before { content: $fa-var-long-arrow-down; }
@define-extend long-arrow-up:before { content: $fa-var-long-arrow-up; }
@define-extend long-arrow-left:before { content: $fa-var-long-arrow-left; }
@define-extend long-arrow-right:before { content: $fa-var-long-arrow-right; }
@define-extend apple:before { content: $fa-var-apple; }
@define-extend windows:before { content: $fa-var-windows; }
@define-extend android:before { content: $fa-var-android; }
@define-extend linux:before { content: $fa-var-linux; }
@define-extend dribbble:before { content: $fa-var-dribbble; }
@define-extend skype:before { content: $fa-var-skype; }
@define-extend foursquare:before { content: $fa-var-foursquare; }
@define-extend trello:before { content: $fa-var-trello; }
@define-extend female:before { content: $fa-var-female; }
@define-extend male:before { content: $fa-var-male; }
@define-extend gittip:before,
@define-extend gratipay:before { content: $fa-var-gratipay; }
@define-extend sun-o:before { content: $fa-var-sun-o; }
@define-extend moon-o:before { content: $fa-var-moon-o; }
@define-extend archive:before { content: $fa-var-archive; }
@define-extend bug:before { content: $fa-var-bug; }
@define-extend vk:before { content: $fa-var-vk; }
@define-extend weibo:before { content: $fa-var-weibo; }
@define-extend renren:before { content: $fa-var-renren; }
@define-extend pagelines:before { content: $fa-var-pagelines; }
@define-extend stack-exchange:before { content: $fa-var-stack-exchange; }
@define-extend arrow-circle-o-right:before { content: $fa-var-arrow-circle-o-right; }
@define-extend arrow-circle-o-left:before { content: $fa-var-arrow-circle-o-left; }
@define-extend toggle-left:before,
@define-extend caret-square-o-left:before { content: $fa-var-caret-square-o-left; }
@define-extend dot-circle-o:before { content: $fa-var-dot-circle-o; }
@define-extend wheelchair:before { content: $fa-var-wheelchair; }
@define-extend vimeo-square:before { content: $fa-var-vimeo-square; }
@define-extend turkish-lira:before,
@define-extend try:before { content: $fa-var-try; }
@define-extend plus-square-o:before { content: $fa-var-plus-square-o; }
@define-extend space-shuttle:before { content: $fa-var-space-shuttle; }
@define-extend slack:before { content: $fa-var-slack; }
@define-extend envelope-square:before { content: $fa-var-envelope-square; }
@define-extend wordpress:before { content: $fa-var-wordpress; }
@define-extend openid:before { content: $fa-var-openid; }
@define-extend institution:before,
@define-extend bank:before,
@define-extend university:before { content: $fa-var-university; }
@define-extend mortar-board:before,
@define-extend graduation-cap:before { content: $fa-var-graduation-cap; }
@define-extend yahoo:before { content: $fa-var-yahoo; }
@define-extend google:before { content: $fa-var-google; }
@define-extend reddit:before { content: $fa-var-reddit; }
@define-extend reddit-square:before { content: $fa-var-reddit-square; }
@define-extend stumbleupon-circle:before { content: $fa-var-stumbleupon-circle; }
@define-extend stumbleupon:before { content: $fa-var-stumbleupon; }
@define-extend delicious:before { content: $fa-var-delicious; }
@define-extend digg:before { content: $fa-var-digg; }
@define-extend pied-piper:before { content: $fa-var-pied-piper; }
@define-extend pied-piper-alt:before { content: $fa-var-pied-piper-alt; }
@define-extend drupal:before { content: $fa-var-drupal; }
@define-extend joomla:before { content: $fa-var-joomla; }
@define-extend language:before { content: $fa-var-language; }
@define-extend fax:before { content: $fa-var-fax; }
@define-extend building:before { content: $fa-var-building; }
@define-extend child:before { content: $fa-var-child; }
@define-extend paw:before { content: $fa-var-paw; }
@define-extend spoon:before { content: $fa-var-spoon; }
@define-extend cube:before { content: $fa-var-cube; }
@define-extend cubes:before { content: $fa-var-cubes; }
@define-extend behance:before { content: $fa-var-behance; }
@define-extend behance-square:before { content: $fa-var-behance-square; }
@define-extend steam:before { content: $fa-var-steam; }
@define-extend steam-square:before { content: $fa-var-steam-square; }
@define-extend recycle:before { content: $fa-var-recycle; }
@define-extend automobile:before,
@define-extend car:before { content: $fa-var-car; }
@define-extend cab:before,
@define-extend taxi:before { content: $fa-var-taxi; }
@define-extend tree:before { content: $fa-var-tree; }
@define-extend spotify:before { content: $fa-var-spotify; }
@define-extend deviantart:before { content: $fa-var-deviantart; }
@define-extend soundcloud:before { content: $fa-var-soundcloud; }
@define-extend database:before { content: $fa-var-database; }
@define-extend file-pdf-o:before { content: $fa-var-file-pdf-o; }
@define-extend file-word-o:before { content: $fa-var-file-word-o; }
@define-extend file-excel-o:before { content: $fa-var-file-excel-o; }
@define-extend file-powerpoint-o:before { content: $fa-var-file-powerpoint-o; }
@define-extend file-photo-o:before,
@define-extend file-picture-o:before,
@define-extend file-image-o:before { content: $fa-var-file-image-o; }
@define-extend file-zip-o:before,
@define-extend file-archive-o:before { content: $fa-var-file-archive-o; }
@define-extend file-sound-o:before,
@define-extend file-audio-o:before { content: $fa-var-file-audio-o; }
@define-extend file-movie-o:before,
@define-extend file-video-o:before { content: $fa-var-file-video-o; }
@define-extend file-code-o:before { content: $fa-var-file-code-o; }
@define-extend vine:before { content: $fa-var-vine; }
@define-extend codepen:before { content: $fa-var-codepen; }
@define-extend jsfiddle:before { content: $fa-var-jsfiddle; }
@define-extend life-bouy:before,
@define-extend life-buoy:before,
@define-extend life-saver:before,
@define-extend support:before,
@define-extend life-ring:before { content: $fa-var-life-ring; }
@define-extend circle-o-notch:before { content: $fa-var-circle-o-notch; }
@define-extend ra:before,
@define-extend rebel:before { content: $fa-var-rebel; }
@define-extend ge:before,
@define-extend empire:before { content: $fa-var-empire; }
@define-extend git-square:before { content: $fa-var-git-square; }
@define-extend git:before { content: $fa-var-git; }
@define-extend hacker-news:before { content: $fa-var-hacker-news; }
@define-extend tencent-weibo:before { content: $fa-var-tencent-weibo; }
@define-extend qq:before { content: $fa-var-qq; }
@define-extend wechat:before,
@define-extend weixin:before { content: $fa-var-weixin; }
@define-extend send:before,
@define-extend paper-plane:before { content: $fa-var-paper-plane; }
@define-extend send-o:before,
@define-extend paper-plane-o:before { content: $fa-var-paper-plane-o; }
@define-extend history:before { content: $fa-var-history; }
@define-extend genderless:before,
@define-extend circle-thin:before { content: $fa-var-circle-thin; }
@define-extend header:before { content: $fa-var-header; }
@define-extend paragraph:before { content: $fa-var-paragraph; }
@define-extend sliders:before { content: $fa-var-sliders; }
@define-extend share-alt:before { content: $fa-var-share-alt; }
@define-extend share-alt-square:before { content: $fa-var-share-alt-square; }
@define-extend bomb:before { content: $fa-var-bomb; }
@define-extend soccer-ball-o:before,
@define-extend futbol-o:before { content: $fa-var-futbol-o; }
@define-extend tty:before { content: $fa-var-tty; }
@define-extend binoculars:before { content: $fa-var-binoculars; }
@define-extend plug:before { content: $fa-var-plug; }
@define-extend slideshare:before { content: $fa-var-slideshare; }
@define-extend twitch:before { content: $fa-var-twitch; }
@define-extend yelp:before { content: $fa-var-yelp; }
@define-extend newspaper-o:before { content: $fa-var-newspaper-o; }
@define-extend wifi:before { content: $fa-var-wifi; }
@define-extend calculator:before { content: $fa-var-calculator; }
@define-extend paypal:before { content: $fa-var-paypal; }
@define-extend google-wallet:before { content: $fa-var-google-wallet; }
@define-extend cc-visa:before { content: $fa-var-cc-visa; }
@define-extend cc-mastercard:before { content: $fa-var-cc-mastercard; }
@define-extend cc-discover:before { content: $fa-var-cc-discover; }
@define-extend cc-amex:before { content: $fa-var-cc-amex; }
@define-extend cc-paypal:before { content: $fa-var-cc-paypal; }
@define-extend cc-stripe:before { content: $fa-var-cc-stripe; }
@define-extend bell-slash:before { content: $fa-var-bell-slash; }
@define-extend bell-slash-o:before { content: $fa-var-bell-slash-o; }
@define-extend trash:before { content: $fa-var-trash; }
@define-extend copyright:before { content: $fa-var-copyright; }
@define-extend at:before { content: $fa-var-at; }
@define-extend eyedropper:before { content: $fa-var-eyedropper; }
@define-extend paint-brush:before { content: $fa-var-paint-brush; }
@define-extend birthday-cake:before { content: $fa-var-birthday-cake; }
@define-extend area-chart:before { content: $fa-var-area-chart; }
@define-extend pie-chart:before { content: $fa-var-pie-chart; }
@define-extend line-chart:before { content: $fa-var-line-chart; }
@define-extend lastfm:before { content: $fa-var-lastfm; }
@define-extend lastfm-square:before { content: $fa-var-lastfm-square; }
@define-extend toggle-off:before { content: $fa-var-toggle-off; }
@define-extend toggle-on:before { content: $fa-var-toggle-on; }
@define-extend bicycle:before { content: $fa-var-bicycle; }
@define-extend bus:before { content: $fa-var-bus; }
@define-extend ioxhost:before { content: $fa-var-ioxhost; }
@define-extend angellist:before { content: $fa-var-angellist; }
@define-extend cc:before { content: $fa-var-cc; }
@define-extend shekel:before,
@define-extend sheqel:before,
@define-extend ils:before { content: $fa-var-ils; }
@define-extend meanpath:before { content: $fa-var-meanpath; }
@define-extend buysellads:before { content: $fa-var-buysellads; }
@define-extend connectdevelop:before { content: $fa-var-connectdevelop; }
@define-extend dashcube:before { content: $fa-var-dashcube; }
@define-extend forumbee:before { content: $fa-var-forumbee; }
@define-extend leanpub:before { content: $fa-var-leanpub; }
@define-extend sellsy:before { content: $fa-var-sellsy; }
@define-extend shirtsinbulk:before { content: $fa-var-shirtsinbulk; }
@define-extend simplybuilt:before { content: $fa-var-simplybuilt; }
@define-extend skyatlas:before { content: $fa-var-skyatlas; }
@define-extend cart-plus:before { content: $fa-var-cart-plus; }
@define-extend cart-arrow-down:before { content: $fa-var-cart-arrow-down; }
@define-extend diamond:before { content: $fa-var-diamond; }
@define-extend ship:before { content: $fa-var-ship; }
@define-extend user-secret:before { content: $fa-var-user-secret; }
@define-extend motorcycle:before { content: $fa-var-motorcycle; }
@define-extend street-view:before { content: $fa-var-street-view; }
@define-extend heartbeat:before { content: $fa-var-heartbeat; }
@define-extend venus:before { content: $fa-var-venus; }
@define-extend mars:before { content: $fa-var-mars; }
@define-extend mercury:before { content: $fa-var-mercury; }
@define-extend transgender:before { content: $fa-var-transgender; }
@define-extend transgender-alt:before { content: $fa-var-transgender-alt; }
@define-extend venus-double:before { content: $fa-var-venus-double; }
@define-extend mars-double:before { content: $fa-var-mars-double; }
@define-extend venus-mars:before { content: $fa-var-venus-mars; }
@define-extend mars-stroke:before { content: $fa-var-mars-stroke; }
@define-extend mars-stroke-v:before { content: $fa-var-mars-stroke-v; }
@define-extend mars-stroke-h:before { content: $fa-var-mars-stroke-h; }
@define-extend neuter:before { content: $fa-var-neuter; }
@define-extend facebook-official:before { content: $fa-var-facebook-official; }
@define-extend pinterest-p:before { content: $fa-var-pinterest-p; }
@define-extend whatsapp:before { content: $fa-var-whatsapp; }
@define-extend server:before { content: $fa-var-server; }
@define-extend user-plus:before { content: $fa-var-user-plus; }
@define-extend user-times:before { content: $fa-var-user-times; }
@define-extend hotel:before,
@define-extend bed:before { content: $fa-var-bed; }
@define-extend viacoin:before { content: $fa-var-viacoin; }
@define-extend train:before { content: $fa-var-train; }
@define-extend subway:before { content: $fa-var-subway; }
@define-extend medium:before { content: $fa-var-medium; }
