@import url('./variables');

.about-page {

  & {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .title {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      font-size: 30px;
    }
  }

  .overview {
    & {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .amazon-disclaimer {
    & {
      display: flex;
      font-size: 12px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 20px;
    }
  }
}