@import url('./variables');

.actions {

  & {
    display: flex;
  }

  &.row {
    & {
      flex-direction: row;
    }

    >.action {
      & {
        margin-right: 5px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    &.fill-height {
      >.action {
        & {
          align-self: stretch;
        }
      }
    }

    &.fill-width {
      >.action {
        & {
          display: flex;
          flex: 1;
        }
      }
    }
  }

  &.col {
    & {
      flex-direction: column;
    }

    >.action {
      & {
        margin-bottom: 5px;
      }

      &:last-child {
        & {
          margin-bottom: 0px;
        }
      }
    }

    &.fill-height {
      >.action {
        & {
          display: flex;
          flex: 1;
        }
      }
    }

    &.fill-width {
      & {
        align-items: stretch;
      }
    }
  }

  &.stretch-height {
    & {
      height: 100%;
    }
  }

  &.stretch-width {
    & {
      width: 100%;
    }
  }
}