@import url('./variables');

html {
  & {
    height: 100%;
  }
}

body {
  & {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px;
    height: 100%;
    font-family: Arial;
  }

  #root {
    & {
      height: 100%;
      overflow: hidden;
    }

    .base {
      & {
        height: 100%;
        display: flex;
        background: $background-color;
      }
    }
  }
}