@import url('./variables');

.button {
  & {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }

  &.grey {
    & {
      @mixin button_colors $grey, $dark-grey, $darkest-grey;
      @mixin button_text_colors black, black, white;
    }

    &.inverted {
      @mixin button_colors white, $dark-grey, $darkest-grey;
      @mixin button_text_colors black, black, white;
    }
  }

  &.primary {
    & {
      @mixin button_colors $theme-primary-color, $theme-primary-shadow-color, $theme-primary-active-color;
      @mixin button_text_colors white, white, white;
    }
  }
}

.primary-button,
.submit-button {
  & {
    @mixin cbutton;
    @mixin button_colors $theme-primary-color, $theme-primary-shadow-color, $theme-primary-active-color;
    @mixin button_text_colors white, white, white;
  }
}

.grey-button,
.cancel-button {
  & {
    @mixin button_colors $grey, $dark-grey, $darkest-grey;
    @mixin button_text_colors black, black, white;
  }

  &.inverted {
    @mixin button_colors white, $dark-grey, $darkest-grey;
    @mixin button_text_colors black, black, white;
  }
}

.sidebar-button {
  & {
    @mixin cbutton;
    @mixin button_colors $sidebar-background, $sidebar-toggle-btn-hover-background, $sidebar-toggle-btn-hover-background;
    @mixin button_text_colors white, white, white;
  }

  &.active {
    background: $sidebar-toggle-btn-hover-background;
  }
}

.logout-button {
  & {
    @mixin cbutton;
    @mixin button_colors $logout-button-background, $logout-button-hover-background, $logout-button-background;
    @mixin button_text_colors white, white, white;
  }
}

.sidebar-search-button {
  & {
    @mixin cbutton;
    @mixin button_colors $logout-button-background, $logout-button-hover-background, $logout-button-background;
    @mixin button_text_colors white, white, white;
  }
}

.sidebar-club-button {
  & {
    @mixin cbutton;
    @mixin button_colors $logout-button-background, $logout-button-hover-background, $logout-button-background;
    @mixin button_text_colors white, white, white;
  }
}

.icon-button {
  & {
      @mixin fa_icon;
      align-self: flex-end;
      padding: 0px;
      height: 38px;
      width: 38px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
}