@import url('./variables');

.calendar-area {
  & {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $calendar-area-background;
    padding: 30px;
  }

  .calendar-container {
    & {
      position: relative;
      display: flex;
      min-width: 175px;
      min-height: 300px;
      max-height: 500px;
    }

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .calendar {
      & {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        user-select: none;
      }

      .calendar-header {
        & {
          display: flex;
          height: 30px;
          border-bottom: 1px solid $border-color;
          background: $calendar-background;
        }

        .previous-month  {
          & {
            @mixin fa_icon;
            display: flex;
            width: 30px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          &:hover {
            background: $header-hover-background;
          }

          &:before{ 
            font-awesome: caret-left;
          }
        }
        .current-month {
          & {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
          }
        }

        .next-month  {
          & {
            @mixin fa_icon;
            display: flex;
            width: 30px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          &:hover {
            background: $header-hover-background;
          }

          &:before{ 
            font-awesome: caret-right;
          }
        }
      }
      .calendar-body {
        & {
          display: flex;
          flex: 1;
          flex-direction: column;
        }

        .calendar-week {
          & {
            display: flex;
            flex: 1 0 0;
          }

          .calendar-day-box {
            & {
              display: flex;
              flex: 1;
              flex-direction: column;
              border: 1px solid $border-color;              
              padding: 3px;
              opacity: 0.5;
              background: $calendar-background;
            }

            &:last-child {
              border-right: none;
            }

            &.active {
              opacity: 1;
            }

            &.today {
              border: 1px solid $theme-primary-color;
            }

            .calendar-day {
              & {
                display: flex;
                justify-content: flex-end;
              }
            }

            .calendar-day-events {
              & {
                display: flex;
                flex: 1;
              }

              .calendar-day-event {
                & {
                  display: flex;
                  align-self: flex-start;
                  justify-content: center;
                  align-items: center;
                  padding: 3px;
                  cursor: pointer;
                }

                &:before {
                  content: '';
                  height: 6px;
                  width: 6px;
                  background: black;
                }

                &.active {
                  &:before {
                    background: $theme-primary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .active-discussion-details {
    & {
      display: flex;
      margin-top: 10px;
      padding: 10px;
      background: white;
      border: 1px solid $theme-primary-color;
    }

    .active-discussion-text {
      & {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
      }

      .discussion-details-title {
        & {
          display: flex;
          align-items: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          border-bottom: 1px solid $dark-grey;
          margin-bottom: 5px;
          padding-bottom: 5px;
        }

        &:hover {
          white-space: normal;
        }
      }

      .date {
        & {
          display: flex;
          align-items: center;
        }
      }

      .chapters {
        & {
          display: flex;
          align-items: center;
        }

        .popover-info {

        }
      }
    }

    .active-discussion-actions {

    }
  }
}
