@import url('./variables');

.club-detail-area {
  & {
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    padding: 30px;
  }

  .pic-area {
    & {
      height: 200px;
      width: 200px;
    }

    .pic-actions {

      .pic-action {

        & {
          @mixin fa-icon;
          position: absolute;
          clip-path: circle(50% at 50% 50%);
          right: 0px;
          top: 0px;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          display: flex;
          z-index: $club-pic-action-z-index;
          width: 30px;
          height: 30px;
        }

        &:nth-child(1) {
          top: -11px;
          right: -4px;
        }

        &:nth-child(2) {
          top: 29px;
          right: -31px;
        }

        &.add {
          &:before {
            font-awesome: plus;
          }
        }

        &.discuss {
          &:before {
            font-awesome: comments;
          }
        }
      }
    }
  }

  .club-detail-name {
    & {
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 20px;
    }

    .icon {
      & {
        font-size: 15px;
      }
    }
  }

  .club-detail-description {
    & {
      display: flex;
      flex: 1;
      width: 300px;
      align-self: center;
      overflow-y: auto;
    }
  }
}


.club-book-history-area {
  & {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 30px;
    background: $book-club-history-area-background;
    overflow-y: auto;
  }

  .no-books-notification {
    & {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
      white-space: pre;
    }

    .add-book-link {
      & {
        cursor: pointer;
        text-decoration: underline;
        @mixin text_colors $darkerest-grey, $darkest-grey, $darkest-grey;
      }
    }
  }

  .add-book-entry {
    & {
      display: flex;
    }

    .timeline-segment {
      & {
        display: flex;
        width: 50px;
        flex-direction: column;
      }

      .timeline-segment-circle {

        & {
          display: flex;
          flex-direction: column;
          height: 50px;
          width: 50px;
          background: $timeline-color;
          clip-path: circle(50% at 50% 50%);
          @mixin button_colors $timeline-color, color($timeline-color shade(20%)), color($timeline-color shade(30%));
          cursor: pointer;
          align-items: center;
          justify-content: center;
        }

        .add-book-icon {
          @mixin fa_icon;

          & {
            transform: none;
          }

          &:before {
            font-awesome: plus;
          }
        }
      }

      .timeline-line {
        & {
          display: flex;
          flex: 1;
          align-self: center;
          width: 2px;
          background: $timeline-color;
        }
      }
    }

    .add-book-entry-text {
      & {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 70px;
      }
    }
  }

  .book-entry {
    & {
      display: flex;
    }

    .timeline-segment {
      & {
        display: flex;
        width: 50px;
        flex-direction: column;
      }

      .date-information {
        & {
          display: flex;
          flex-direction: column;
          height: 50px;
          background: $timeline-color;
          clip-path: circle(50% at 50% 50%);
        }

        .date-month {
          & {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: flex-end;
          }
        }

        .date-day {
          & {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: flex-start;
          }
        }
      }
      .timeline-line {
        & {
          display: flex;
          flex: 1;
          align-self: center;
          width: 2px;
          background: $timeline-color;
        }
      }
    }

    .book-entry-details {
      & {
        display: flex;
        flex: 1;
        align-self: stretch;
        flex-direction: column;
        min-height: 100px;
        padding-left: 20px;
        padding-bottom: 10px;
        align-items: flex-start;
        position: relative;
      }

      .book-title-area {
        & {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 10px;
          padding-top: 5px;
        }

        .book-name {
          & {
            display: flex;
          }

          .ellipsis:after {
            & {
              @mixin ellipsis_background $book-club-history-area-background;
            }
          }
        }
        
        .edit-club-book-details {
          & {
            @mixin fa_icon;
            width: 25px;
            font-size: 20px;
            cursor: pointer;
            margin-left: 5px;
            height: 30px;
            align-items: center;
            align-self: flex-start;
            display: flex;
            @mixin button_text_colors $dark-grey, $darkest-grey, $darkest-grey;
          }

          &.start {
            &:before {
              font-awesome: edit;
            }
          }

          &.cancel {
            &:before {
              font-awesome: times;
            }
          }
        }
      }

      .book-amazon-link-area {
        & {
          display: flex;
          flex: 0 0 auto;
          padding-bottom: 10px;
        }

        .book-amazon-link {
          & {
            display: flex;
            flex: 1 1 auto;
            font-size: 12px;
            white-space: pre;
          }
        }
      }

      .edit-club-book {
        & {
          display: flex;
          flex-direction: column;
        }
      }

      .book-details {

      }

      .discussion-link {
        & {
          padding: 2px;
          margin-bottom: 2px;
          color: $black-text-color;
          font-size: 14px;
          text-decoration: underline;
          cursor: pointer;
        }

        &:last-child {
          margin-bottom: 0px;
        }

        &:hover {
        }
      }

      .discussion-date {
        & {
          font-size: 14px;
        }
      }


      .create-new-discussion-form {
        & {
          display: flex;
          flex-direction: column;
          align-self: stretch;
          margin-top: 5px;
        }

        .actions {
          & {
            display: flex;
          }

          .button {
            & {
              margin-right: 5px;
            }

            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }

      .create-new-discussion-button {
        & {
          margin-top: 5px;
        }
      }
    }
  }
}
