@import url('./variables');

.clubs-area {
  & {
    display: flex;
    flex: 0 1 300px;
    flex-direction: column;
    padding: 30px;
    user-select: none;
  }


  .clubs-title {
    & {
      display: flex;
      margin-bottom: 5px;
    }

    .title {
      & {
        display: flex;
        flex: 1;
        padding: 10px;
        font-weight: bold;
      }
    }

    .action-btn {
      &.add {
        &:before {
          font-awesome: plus;
        }
      }
    }
  }

  .clubs {
    & {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      margin-bottom: 5px;
      overflow-y: auto;
    }

    .club {
      & {
        display: flex;
        cursor: pointer;
        @mixin list;
      }

      &.active {
        background: $theme-primary-color;
      }

      .club-name {
        & {
          display: flex;
          flex: 1;
          align-items: center;
          padding: 10px;
        }
      }

      .club-actions {
        & {
          display: none;
        }
      }

      &:hover {
        .club-actions {
          & {
            display: flex;
          }
        }
      }
    }
  }
}

/* Create Club Area */

.create-club-area {
  & {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $right-side-background;
    padding: 30px;
    user-select: none;
  }

  .title {
    & {
      display: flex;
      height: 30px;
      align-items: flex-start;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .name-input {
    .title-column { 

    }

    & {
      display: flex;
      height: 30px;
      align-items: center;
    }
  }

  .description-input {
    .title-row {

    }

    .description-textarea {

    }
  }
}

/* Edit Club Area */

.edit-club-area {
  & {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $right-side-background;
    padding: 30px;
    user-select: none;
  }

  .title {
    & {
      display: flex;
      height: 30px;
      align-items: flex-start;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .name-input {
    .title-column { 

    }

    & {
      display: flex;
      height: 30px;
      align-items: center;
    }
  }

  .description-input {
    .title-row {

    }

    .description-textarea {

    }
  }
}
