@import url('./variables');


.color-box {
  & {
    background: #CCCCCC;
    padding: 10px;
  }

  &.lighter-grey {
    background: $lighter-grey;
  }

  &.light-grey {
    background: $light-grey;
  }

  &.grey {
    background: $grey;
  }

  &.dark-grey {
    background: $dark-grey;
  }

  &.darker-grey {
    background: $darker-grey;
  }
}