@import url('./variables');


$scroll-area-width: 70px;

.discussion-area {
  & {
    display: flex;
    flex: 1 1 0;
  }

  .thread-topic-area {
    & {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      width: 250px;
      background: $thread-topics-background;
    }

    .visualization-area {
      & {
        display: flex;
        align-items: stretch;
        height: 50px;
      }

      .visualization {
        & {
          display: flex;
          flex: 1;
          background: $thread-graphic-background;
        }
      }

      .discussion-details-button-placeholder {
        & {
          display: flex;
          align-self: stretch;
          width: 10px + 14px;
        }
      }

      .discussion-details-button {
        & {
          @mixin cbutton;
          display: flex;
          align-self: stretch;
          width: 10px;
          flex-direction: column;
          @mixin button_colors $details-primary, $details-hover, $details-active;
        }

        .discussion-details-button-circle {
          & {
            @mixin fa_icon;
            font-awesome: circle;
            font-size: 6px;
            color: white;
            display: flex;
            align-items: center;
            flex: 1;
          }
        }

        &.open {
          .discussion-details-button-circle {
            & {
              font-awesome: circle-o;
            }
          }
        }

        .discussion-details-button-back {
          & {
            @mixin fa_icon;
            font-awesome: arrow-left;
            font-size: 16px;
            color: white;
            display: flex;
            align-items: center;
            flex: 1;
          }
        }
      }
    }

    .club-book-discussion-details-area {
      & {
        display: flex;
        flex-direction: column;
        margin: 5px;
        background: white;
      }

      .discussion-details-title {
        & {
          display: flex;
          background: $theme-primary-color;
          padding: 5px;
          justify-content: center;
          color: white;
          font-size: 18px;
        }
      }

      .club-book-discussion-details {
        & {
          display: flex;
          flex-direction: column;
          padding: 5px;
        }

        .discussion-detail {
          & {
            display: flex;
            margin-bottom: 5px;
          }

          &:last-child {
            margin-bottom: 0px;
          }

          .discussion-detail-field {
            & {
              display: flex;
              margin-right: 10px;
              font-weight: bold;
              justify-content: flex-end;
            }
          }

          .discussion-detail-value {
            & {
              display: flex;
              flex: 1;
            }
          }
        }
      }
    }

    .thread-topics {
      & {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        overflow: auto;
      }

      .thread-topic {
        & {
          display: flex;
          margin-top: 5px;
          background: $thread-topic-background;
        }

        &:first-child {
          margin-top: 0px;
        }

        .thread-topic-text {
          & {
            display: flex;
            flex: 1 1 auto;
            margin: 5px;
            color: $thread-topic-text-color;
            cursor: pointer;
            white-space: pre-line;
            word-break: break-all;
            max-height: 100px;
            overflow-y: hidden;
          }
        }

        .thread-topic-actions {
          & {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;          
            width: 30px;
          }

          .thread-topic-action {
            & {
              padding-top: 10px;
              font-size: 16px;
            }

            &:last-child {
              padding-bottom: 10px;
            }
          }
        }

        .active-area {
          & {
            min-width: 3px;
            background: $thread-topic-background;
          }
        }

        &.active {
          .active-area {
            & {
              min-width: 3px;
              background: #F37D7D;
            }
          }
        }
      }
    }

  }

  .thread-topics-actions {
    & {
      display: flex;
      padding: 5px;
    }

    .create-thread-topic {
      & {
        @mixin fa_icon
        height: 15px;
        width: 15px;
      }

      &:before {
        font-awesome: plus;
        @mixin icon;
      }
    }
  }

  .thread-area {
    & {
      display: flex;
      flex: 1 1 0;
      background: $thread-area-background;
      position: relative;
    }

    .threads {
      & {
        display: flex;
        flex: 1 1 0;
        overflow-x: auto;
      }
    }

    .scroll-left-area {
      & {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: $scroll-area-width;
        z-index: $thread-scroll-area-z-index;
      }

      &.hidden {
        display: none;
      }
    }

    .scroll-right-area {
      & {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: $scroll-area-width;
        z-index: $thread-scroll-area-z-index;
      }

      &.hidden {
        display: none;
      }
    }

    .thread {
      & {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        min-width: 300px;
        width: 300px;
        margin-left: 5px;
        background: $thread-background;
      }

      .thread-header {
        & {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }

        .close-thread-button {
          & {
            @mixin fa_icon;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 15px;
            padding: 2px;
            cursor: pointer;
          }

          &:before {
            margin-top: -3px;
            font-awesome: angle-up;
          }
        }
      }

      .original-post {
        & {
          margin: 5px;
        }

        &.post {
          .text {
            & {
              max-height: 100px;
            }
          }
        }

        textarea {
          & {
            max-height: 260px;
            overflow-y: auto;
          }
        }
      }

      .hierarchy-actions {
        & {
          display: flex;
          flex: 0 0 auto;
          justify-content: space-between;
          margin-left: 5px;
        }

        .cancel-hierarchy {
          & {
            @mixin fa_icon;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            cursor: pointer;
            padding: 5px;
          }

          &:before {
            font-awesome: times;
          }
        }
      }


      .posts {
        & {
          display: flex;
          flex: 1 1 0;
          flex-direction: column;
          padding: 5px;
          overflow: auto;
        }
      }

      .post {
        & {
          display: flex;
          margin-bottom: 5px;
          background: white;
          white-space: pre;
          position: relative;
          flex-direction: column;
          overflow: hidden;
        }

        &.level1 {
          margin-left: 5px;
        }

        &.level2 {
          margin-left: 10px;
        }

        &.level3 {
          margin-left: 15px;
        }

        &.level4 {
          margin-left: 15px;
        }

        .text {
          & {
            max-height: 250px;
            overflow-y: auto;
            padding: 5px;
            cursor: pointer;
            white-space: pre-wrap;
            word-break: break-word;
          }
        }

        &.replying {
          border-bottom: 3px solid $reply-border-color;
        }

        &.not-replying {
          opacity: .4;
        }

        &:hover {
          .actions {
            opacity: 1;
          } 
        }

        .my-post-indicator {
          & {
            position: absolute;
            background: $green;
            width: 10px;
            height: 10px;
            display: flex;
            top: 0px;
            right: 0px;
            transform: rotate(45deg) translate(0px, -9px) scale(2);
          }
        }

        .more-actions {
          & {
            position: absolute;
            background: $theme-primary-color;
            opacity: 0;
            bottom: 0px;     
            z-index: $post-more-actions-z-index;  
            width: 100%;
            height: 25px;
          }

          .action {
            & {
              width: 100%;
            }
          }
        }

        .actions-area {
          & {
            display: flex;
            flex-direction: column;
          }

          .user-info {
            & {
              display: flex;
              padding: 5px;
              font-size: 12px;
              color: $darkest-grey;
              flex: 1 0 auto;
            }
          }
        }

        .post-actions {
          & {
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            flex: 1 0 auto;
            background: $dark-grey;
          }

          .action {
            & {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.discussion-details {
  & {
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }

  .discussion-details-title {
    & {
      text-decoration: underline;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }

  .discussion-timeline {
    & {
      display: flex;
      position: relative;
      border-bottom: 1px solid $timeline-entry-border;
      height: 25px;
    }

    .discussion-timeline-entry-cont {
      & {
        display: flex;
        flex: 1;
        position: relative;
        margin-right: 18px;
      }

      .discussion-timeline-entry {
        & {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          background: $timeline-entry-background;
          position: absolute;
          border: 1px solid $timeline-entry-border;
          border-bottom: none;
          cursor: pointer;
          top: 0px;
          bottom: 0px;
        }

        &.active {
          border: 1px solid $timeline-entry-active-background;
          border-bottom: none;
          padding-bottom: 7px;
          bottom: -7px;
        }
      }

      .today-marker {
        & {
          position: absolute;
          width: 2px;
          height: 28px;
          bottom: 0px;
          z-index: $discussion-today-marker-z-index;
          opacity: .4;
          background: $today-marker-background;
        }
      }
    }
  }

  .active-discussion-details {
    & {
      display: flex;
      margin-top: 5px;
      background: white;
      border: 1px solid $timeline-entry-active-border;
      padding: 5px;
    }

    .active-discussion-text {
      & {
        display: flex;
        flex: 1;
        flex-direction: column;
      }

      .date {
        & {
          display: flex;
        }
      }

      .chapters {
        & {
          display: flex;
        }
      }
    }

    .active-discussion-actions {
      & {
        display: flex;
      }

      .active-discussion-action {
        & {
          @mixin fa_icon;
          font-size: 20px;
          @mixin icon;
          align-self: flex-start;
          @mixin button_text_colors $grey, $dark-grey, $darker-grey;
        }

        &.delete {
          font-awesome: times;
        }
      }
    }
  }
}

.input-area {
  & {
    display: none;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 5px;
  }

  &.active {
    display: flex;
  }

  .input {
    & {
      flex: 1;
    }
  }

  .actions {
    & {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
    }
  }
}
