@import url('./variables');


.dropzone {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px dashed $theme-primary-color;
    background: $light-grey;
    color: $black-text-color;
    cursor: pointer;
  }

  &.inverted {
    background: $inverted-input-background-color;
  }

  .dropzone-internal {
    & {
      display: flex;
      align-self: stretch;
      flex-direction: column;
      flex: 1;
    }

    .dropzone-previews {
      & {
        display: flex;
        align-self: stretch;
      }

      .dropzone-preview {
        & {
          display: flex;
          height: 30px;
          width: 30px;
        }
      }
    }

    .dropzone-placeholder {
      & {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}