@import url('./variables');
/* http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/ */


.expandable-text-container {
  & {
    align-self: stretch;
    position: relative;
    cursor: pointer;
    display: flex;
    flex: 1;
  }

  .bottom-ruler {
    & {
      display: flex;
      width: 100%;
      height: 5px;
      margin-top: -5px;
    }
  }

  &.close {
    .mask {
      & {
        display: flex;
        flex: 1;
        align-self: stretch;
        overflow: hidden;
      }

      .content {
        & {
          display: flex;
          flex: 1;
          align-self: flex-start;
          flex-direction: column;
        }
      }

      &.content-visible {
      }

      &.content-covered {
        .ellipsis {
          & {
            @mixin fa_icon;
            font-awesome: ellipsis-h;
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            width: 35px;
            padding-right: 5px;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            @mixin ellipsis_background $light-grey;
          }
        }

        &:hover {
          color: tint(black, 40%);
        }
      }

      &.content-smaller {
        .content {
          & {
            align-self: center;
            justify-content: center;
          }
        }
      }
    }
  }

  &.open {
    .mask {
      & {
        display: flex;
        flex: 1;
        align-self: stretch;
        overflow: hidden;
      }

      .content {
        & {
          display: flex;
          flex: 1;
          align-self: flex-start;
          flex-direction: column;
        }
      }

      &.content-visible {
      }

      &.content-smaller {
      }
    }
  }
}
