@import url('./variables');


.form-actions {
  & {
    display: flex;
    margin-top: 5px;
    height: 40px;
  }

  .form-action {
    & {
      display: flex;
      flex: 1;
      padding: 10px;
      margin-left: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &:first-child {
      margin-left: 0px;
    }
  }
}

.form-disabled {
  & {
    position: relative;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: $disabled-form-cover-z-index;
    background: white;
    opacity: 0.4;
  }
}