@import url('./variables');



.guest-pages {
  & {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .page {
    & {
      width: 220px;
      display: flex;
      flex-direction: column;
      color: $theme-primary-text-color;
    }
    
    .header {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        height: 50px;
        background: $theme-primary-color;
      }
    }

    .body {
      & {
        display: flex;
        padding: 10px;
        background: $theme-primary-color;
        flex-direction: column;
        margin-bottom: 10px;
      }
    }

    .footer {
      & {
        display: flex;
        height: 50px;
        margin-bottom: 10px;
      }

      .submit-button {
        & {
          width: 100%;
          padding: 12px;
          font-size: 20px;
        }
      }
    }

    .links {
      & {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        display: flex;
        color: $theme-primary-color;
      }

      .link {
        & {
          margin-bottom: 5px;
        }
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
