@import url('./variables');

.popover-info {
  & {
    @mixin fa_icon info-circle;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-grey;
    font-size: 16px;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
  }

  &.popover-validation {
    width: 20px;
    color: white;
    font-size: 16px;
    margin-right: 0px;
    display: flex;
    flex: 1 1 auto;
  }
}

.icon {
  & {
    @mixin fa_icon;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $grey;
    width: 25px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &.inverted {
    color: white;

    &:hover {
      color: $grey;
    }
  }

  &:hover {
    color: $darkest-grey;
  }
}

.edit-icon:before {
  & {
    font-awesome: pencil;
  }

  &.color-hover {
    @mixin color_hover $yellow;
  }
}

.reply-icon:before {
  & {
    font-awesome: reply;
  }

  &.color-hover {
    @mixin color_hover $green;
  }
}

.report-icon:before {
  & {
    font-awesome: exclamation-triangle;
  }

  &.color-hover {
    @mixin color_hover $red;
  }
}

.remove-icon:before {
  & {
    font-awesome: trash-o;
  }

  &.color-hover {
    @mixin color_hover $red;
  }
}

.close-thread-icon {
  & {
    font-awesome: chevron-left;  
  }

  &.color-hover {
    @mixin color_hover $yellow;
  }
}

.open-thread-icon {
  & {
    font-awesome: chevron-right;  
  }

  &.color-hover {
    @mixin color_hover $yellow;
  }
}

.favorite-thread-icon {
  & {
    font-awesome: heart;  
  }

  &.color-hover {
    @mixin color_hover $red;
  }
}

.bars-icon:before {
  & {
    font-awesome: bars;
  }
}

.profile-icon:before {
  & {
    font-awesome: user;
  }
}

.search-icon:before {
  & {
    font-awesome: search;
  }
}

.clubs-icon:before {
  & {
    font-awesome: book;
  }
}

.about-icon:before {
  & {
    font-awesome: info;
  }
}

.home-icon:before {
  & {
    font-awesome: home;
  }
}

.question-icon:before {
  & {
    font-awesome: question;
  }
}

.cancel-icon:before {
  & {
    font-awesome: times;
  }

  &.color-hover {
    @mixin color_hover $red;
  }
}

.save-icon:before {
  & {
    font-awesome: check;
  }

  &.color-hover {
    @mixin color_hover $green;
  }
}

.more-icon:before {
  & {
    font-awesome: ellipsis-h;
  }
}

.indicators {
  & {
    display: flex;
    align-items: center;
  }

  .indicator {
    & {
      @mixin fa_icon;
      display: flex;
      align-self: stretch;
      align-items: center;
      padding: 5px;
      padding-right: 0px;
    }

    &:last-child {
      padding-right: 5px;
    }

    &.is-reading-book {
      &:before {
        font-awesome: book;
        color: $success-color
      }
    }
  }
}