@import url('./variables');


.input-cont {
  & {
    display: flex;
  }

  &.expand-height {
    flex: 1;
    align-self: stretch;
  }

  &.row {
    flex-direction: row;
    flex: 0 1 auto;

    .label {
      display: flex;
      align-items: center;
      margin-right: 5px;

      &.fill-width {
        flex: 1;
      }
    }
    
    .input-field {
      & {
        display: flex;
        align-self: stretch;
      }

      &.fill-width {
        flex: 1 1 0;
      }
    }
  }

  &.col {
    flex-direction: column;

    .label {
      & {
        display: flex;
        align-items: center;
        align-self: stretch;
        height: 30px;
        margin-bottom: 5px;
      }
    }

    .input-field {
      & {
        display: flex;
      }
      
      &.expand-height {
        flex: 1 1 auto;
      }
    }

  }

  &.divider {
    margin-bottom: 5px;
  }

  .input-field {
    & {
      display: flex;
      align-self: stretch;
      border: 1px solid $input-background-color;
      border: none;
    }

    &.fill-width {
      flex: 1 1 auto;
    }

    &.fixed-height {
      input {
        height: 40px;
      }
    }

    .validation {
      & {
        display: none;
      }
    }

    &.error {
      border: 1px solid $error-color;

      &.fixed-height {
        input {
          height: 38px;
        }
      }
      
      .validation {
        & {
          display: flex;
          width: 20px;
          border: 1px solid $error-color;
          background: $error-color;
          color: white;
        }

        .popover-info {
          & {
            color: white;
            font-size: 16px;
            margin-right: 0px;
            display: flex;
            flex: 1 1 auto;
          }
        }
      }
    }
  }
}

input {
  & {
    background: $input-background-color;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid $input-background-color;
    border-radius: 0px;
    box-sizing: border-box;
    flex: 1 0 0;
  }

  ::placeholder {
    color: $input-placeholder-color;
  }

  &:disabled {
    background: $light-grey;
    border: 1px solid $light-grey;
  }

  &:focus {
    border: 1px solid $input-focus-border-color;
  }

  &.inverted {
    background: $inverted-input-background-color;
    border: 1px solid $inverted-input-background-color;

    ::placeholder {
      color: $inverted-input-placeholder-color;
    }
    
    &:focus {
      border: 1px solid $input-focus-border-color;
    }

    &:disabled {
      background: $lightest-grey;
      border: 1px solid $lightest-grey;
    }
  }

  &.center {
    text-align: center;
  }
}

textarea {
  & {
    resize: none;
    background: $input-background-color;
    padding: 5px;
    font-size: 16px;
    outline: none;
    font-family: Arial;
    box-sizing: border-box;
    border: 1px solid $input-background-color;
    width: 100%;
    display: flex;
    flex: 1;
  }

  &.autosize {
    flex: inherit;
  }

  &.inverted {
    background: $inverted-input-background-color;
    border: 1px solid $inverted-input-background-color;

    ::placeholder {
      color: $inverted-input-placeholder-color;
    }
    
    &:focus {
      border: 1px solid $input-focus-border-color;
    }
  }
}
