@import url('./variables');


.logo-header {
  & {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    background: $theme-primary-color;
  }

  .logo {
    & {
      display: flex;
      flex: 0 0 auto;
      align-items: flex-end;
      height: 150px;
      font-size: 50px;
      color: white;
      text-align: center;
      justify-content: center;
    }
  }

  &>.content {
    display: flex;
    flex: 1 1 0;
  }
}