@import url('./variables');


.pagination-area {
  & {
    display: flex;
    height: 50px;
  }

  .pagination-button {

    & {
      display: flex;
      flex: 1;
      align-self: stretch;
      justify-content: center;
      align-items: center;
      color: white;
      border-right: 1px solid white;
      background: $disabled-background;
    }


    &.enabled {
      & {
        cursor: pointer;
      }

      @mixin button_colors $theme-primary-color, $theme-primary-shadow-color, $theme-primary-active-color;
    }

    &:last-child {
      & {
        border-right: none;
      }
    }

    &.first-page {
      @mixin fa_icon angle-double-left {
        font-size: 26px;
        align-self: stretch;
      }
    }

    &.previous-page {
      @mixin fa_icon angle-left {
        font-size: 26px;
        align-self: stretch;
      }
    }

    &.next-page {
      @mixin fa_icon angle-right {
        font-size: 26px;
        align-self: stretch;
      }
    }

    &.last-page {
      @mixin fa_icon angle-double-right {
        font-size: 26px;
        align-self: stretch;
      }
    }
  }
}