@import url('./variables');


.pic-area {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
  }

  .pic-background {
    & {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $light-grey;
      clip-path: circle(50% at 50% 50%);
    }
  }

  .pic {
    & {
      clip-path: circle(49% at 50% 50%);
      height: inherit;
      width: inherit;
      z-index: $pic-z-index;
      object-fit: cover;
    }
  }
}