@import url('./variables');


.popover-parent {
  &.center {
    margin-right: 0px;
  }
}

.Popover {
  & {
    z-index: $popover-z-index;
  }

  .Popover-body {
    & {
      padding: 5px;
      background: $popover-background;
      color: white;
      border-radius: 3px;
      border: 1px solid white;
      z-index: $popover-body-z-index;
      margin: -1.5px;
    }
  }

  .Popover-tip {
    & {
      z-index: $popover-top-z-index;
      margin-top: -1px;
    }

    .Popover-tipShape {
      & {
        fill: $popover-background;
      }
    }
  }
}

.resize-sensor {
  & {
    display: none !important;
  }
}