@import url('./variables');


.popup-background {
  & {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: $popup-backdrop;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $popup-z-index;
  }

  .popup {
    & {
      display: flex;
      height: 300px;
      width: 500px;
      flex-direction: column;
      background: $popup-background;
    }

    .popup-title {
      & {
        display: flex;
        flex: 0 0 auto;
        font-size: 22px;
        padding: 15px;
        background: $popup-title-background;
      }

      .popup-title-text {
        & {
          display: flex;
          flex: 1 0 auto;
          color: $popup-title-text-color;
        }
      }

      .popup-title-close {

      }
    }

    .popup-body {
      & {
        display: flex;
        flex: 1 1 auto;
        padding: 15px;
      }
    }

    .popup-actions {
      & {
        display: flex;
        flex: 0 0 auto;
        padding: 15px;
        justify-content: space-between;
      }

      .popup-action {

      }
    }
  }
}