@import url('./variables');

.app {
  .page {
    & {
      display: flex;
      flex: 1 0 auto;
      height: 100%;
    }

    .search-area {
      & {
        display: flex;
        flex: 0 0 300px;
        flex-direction: column;
        max-width: 350px;
        padding: 30px;
      }

      .search-pagination-controls {
        & {
          padding-top: 10px;
        }
      }

      .search-types {
        & {
          display: flex;
          flex: 0 0 40px;
          margin-bottom: 10px;
        }

        .search-type {
          & {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            background: $search-type-color;
            cursor: pointer;
          }

          &:hover {
            background: $search-type-hover-color;
          }

          &.active {
            border-bottom: 2px solid $active-search-type-color;
          }
        }
      }

      .search-input {
        & {
          display: flex;
          height: 40px;
        }

        input {
          & {
            background: $input-background-color;
            border-radius: 0px;
          }
          
          ::placeholder {
            color: $input-placeholder-color;
          }

          &:focus {
            background: $input-focus-background-color;
          }
        }

        .submit-query {
          /*@mixin primary_button*/

          
          & {
            @mixin cbutton;
            @mixin button_colors $theme-primary-color, $theme-primary-shadow-color, $theme-primary-active-color;
            @mixin button_text_colors white, white, white;
            height: inherit;
            padding: 0px;
            width: 60px;
            font-size: 16px;
          }
        }
      }
     
      .search-results {
        & {
          display: flex;
          flex: 1 0 0;
          margin-top: 10px;
          flex-direction: column;
          overflow-y: auto;
        }

        .no-search-results-found-message {

          & {
            display: flex;
            height: 100px;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: $darkest-grey;
          }
        }

        .search-result {
          & {
            display: flex;
            padding: 15px;;
            height: 30px;
            flex-shrink: 0;
            cursor: pointer;
            @mixin list;
          }

          &.book {
            .details {
              & {
                display: flex;
                flex: 1;
                flex-direction: column;
              }

              .title {
                & {
                  display: flex;
                  height: 20px;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }

              .author {
                & {
                  height: 10px;
                  font-size: 10px;
                  align-items: center;
                }
              }
            }
          }

          &.club {
            .details {
              & {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: 5px;
              }

              .name {
                & {
                  display: flex;
                  flex: 1 0 auto;
                  align-items: center;
                }
              }
            }
          }

          &.person {
            .details {
              & {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: 5px;
              }

              .username {
                & {
                  display: flex;
                  flex: 1;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }

    .search-selected-details-container {
      & {
        display: flex;
        flex: 1;
        padding: 30px;
        background: $search-selected-background-color;
      }

      .search-selected-details {
        & {
          display: flex;
          flex: 1;
          flex-direction: column;
        }

        &.book {
          .details {
            & {
              display: flex;
              flex: 1 1 0;
              flex-direction: column;
            }

            .title-area {
              & {
                display: flex;
                padding-bottom: 10px;
              }

              .book-cover {
                & {
                  width: 100px;
                  padding-right: 10px;
                }

                .pic {
                  & {
                    height: inherit;
                    width: inherit;
                    z-index: $search-book-cover-pic-z-index;
                    object-fit: cover;
                  }
                }
              }

              .book-meta {
                & {
                  display: flex;
                  flex-direction: column;
                }

                .title {
                  & {
                    display: flex;
                    flex: 1;
                    min-height: 50px;
                    font-size: 26px;
                    margin-bottom: 5px;
                  }
                }

                .author {
                  & {
                    display: flex;
                    height: 20px;
                    align-items: flex-end;
                  }
                }
              }
            }

            .amazon-link {
              & {
                display: flex;
                height: 30px;
                padding-bottom: 10px; 
                white-space: pre;
              }
            }

            .description {
              & {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                flex: 1;
                margin-bottom: 10px;
              }
            }
          } 

          .select-for-club-area {
            & {
              display: flex;
              height: 129px;
            }

            .select-club-input {
              & {
                display: flex;
                flex: 1 0 0;
                overflow-y: auto;
              }

              &.error {
                border: 1px solid $red;
              }

              .validation {
                & {
                  display: none;
                }

                &.error {
                  display: flex;
                  background: $red;
                  color: white;
                }
              }

              .select-for-club-options {
                & {
                  display: flex;
                  flex: 1 0 0;
                  overflow-y: auto;
                  flex-direction: column;
                }
                
                .select-option {
                  & {
                    display: flex;
                    min-height: 20px;
                    flex: 0 0 auto;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    align-items: center;
                    padding-left: 10px;
                    cursor: pointer;
                    user-select: none;
                    @mixin button_text_colors black, white, white;
                    @mixin inverted_list;
                  }

                  &.active, &.active:hover {
                    background: $select-for-club-option-active;
                    color: white;
                  }
                }
              }
            }
            .select-for-\club-area-right-side {
              & {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                margin-left: 10px;
                flex: 0 0 250px;
                justify-content: space-between;
              }

              .select-end-date-input {

              }
              .select-actions {
                & {
                  min-height: 35px;
                }
              }
            }
          }
        }

        &.club {
          .details {
            & {
              display: flex;
              flex: 1 1 0;
              flex-direction: column;
            }

            .name {
              & {
                display: flex;
                height: 50px;
                font-size: 26px;
              }
            }

            .description {
              & {
                display: flex;
                flex: 1;
                overflow-y: auto;
              }
            }
          } 
        }

        &.person {
          .details {
            & {
              display: flex;
              flex: 1 1 0;
              flex-direction: column;
            }

            .username {
              & {
                display: flex;
                height: 50px;
                font-size: 26px;
              }
            }
          } 
        }
      }
    }
  }
}
