@import url('./variables');


$button-height: 50px;
$button-width: 35px;

.sidebar {

  & {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }

  .sidebar-content {
    & {
      position: absolute;
      display: none;
      left: $button-width;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: $sidebar-content-z-index;
    }

    &.show {
      display: flex;
    }

    .window {
      & {
        display: flex;
      }

      .sidebar-window {
        & {
          display: none;
          font-family: Arial;
          width: 175px;
          font-size: 18px;
          background: $sidebar-background;
          flex-direction: column;
          border-left: 1px solid white;
        }

        &.show {
          display: flex;
        }

        .window-title {
          & {
            display: flex;
            height: $button-height;
            flex: 0 0 auto;
            font-size: 22px;
            align-items: center;
            justify-content: center;
            color: white;
            background: $sidebar-window-title-background;
            cursor: pointer;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .window-content {
          & {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            cursor: initial;
            overflow-y: auto;
          }

          &.no-padding {
            padding-top: 0px;
          }

          .window-section-heading {
            & {
              padding-top: 10px;
              padding-bottom: 10px;
              color: white;
              text-decoration: underline;
            }

            &:not(:first-child) {
              padding-top: 20px;
            }
          }

          .sidebar-window-has-no-clubs {
            & {
              display: flex;
              flex: 1 1 auto;
              font-size: 14px;
              color: $light-grey;
              padding-bottom: 10px;
            }
          }
        }

        .profile-area {
          & {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
          }

          .pic-area {
            & {
              position: relative;
              display: flex;
              height: 100px;
              width: 100px;
            }

            .pic {
              & {
                cursor: pointer;
              }
            }
          }

          .profile-info-area {
            & {
              display: flex;
              flex: 1;
              align-self: stretch;
              flex-direction: column;
              padding-top: 15px;
            }

            .profile-info {
              & {
                display: flex;
                justify-content: center;
                color: $link-text-color;
              }

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }

        .logout-button {
          & {
            display: flex;
            margin-top: 10px;
            height: 15px;
            align-self: stretch;
            padding: 10px;
            color: white;
          }
        }

        .sidebar-search-button {
          & {
            display: flex;
            min-height: 15px;
            align-self: stretch;
            padding: 10px;
            margin: 10px;
            color: white;
          }

          &:not(:last-child) {
            margin-bottom: 0px
          }
        }

        .sidebar-club-button {
          & {
            display: flex;
            min-height: 15px;
            align-self: stretch;
            justify-content: flex-start;
            padding: 10px;
            margin: 10px;
            color: white;
          }

          &:not(:last-child) {
            margin-bottom: 0px
          }
        }
      }
    }

    .backdrop {
      & {
        z-index: $sidebar-backdrop-z-index;
        display: flex;
        flex: 1 0 auto;
        background: black;
        opacity: 0.5;
      }
    }

  }

  .buttons {
    & {
      z-index: $side-bar-z-index;
      display: flex;
      flex-direction: column;
      width: $button-width;
      background: $sidebar-background;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
    }
  }

  .icon {
    & {
      height: $button-height;
      width: $button-width;
      padding: 0px;
      font-size: 19px;
    }
  }
}
