@import url('./variables');


.page {
  .user-detail-area {
    & {
      display: flex;
      flex: 0 0 300px;
      flex-direction: column;
      padding: 30px;
    }

    .pic-area {
      & {
        height: 200px;
        width: 200px;
      }
    }

    .user-detail-name {
      & {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 20px;
      }

      .edit-icon {
        & {
          font-size: 15px;
        }
      }
    }
  }


  .user-info-area {
    & {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 30px;
      background: $user-info-background;
    }
  }
}
