$background-color: #FFFFFF;
/*$grey: #E1E1E1;

$lightest-grey: color($grey tint(70%));
$lighter-grey: color($grey tint(50%));
$light-grey: color($grey tint(25%));
$dark-grey: color($grey shade(10%));
$darker-grey: color($grey shade(20%));
$darkest-grey: color($grey shade(30%));
$darkerest-grey: color($grey shade(50%));*/

$lightest-grey: #FAFAFA;
$lighter-grey: #F5F5F5;
$light-grey: #F0F0F0;
$grey: #E1E1E1;
$dark-grey: #D7D7D7;
$darker-grey: #CCCCCC;
$darkest-grey: #C2C2C2;
$darkerest-grey: #B8B8B8; 

$red: #FF2323;
$dark-red: #E31F1F;

$blue: #23BCFF;
$dark-blue: #1EA4DE;
$darker-blue: #1A93C7;

$yellow: #F9BE54;
$dark-yellow: #E8B14E;
$darker-yellow: #D7A448;

$green: #09CB00;
$dark-green: #08B500;

$purple: #8300D6;
$dark-purple: #7300BD;

$black-text-color: #2B2B2B;

$theme-secondary-color: $yellow;
$theme-primary-shadow-color: $dark-yellow;
$theme-primary-active-color: $darker-yellow;

$theme-primary-color: $blue;
$theme-primary-shadow-color: $dark-blue;
$theme-primary-active-color: $darker-blue;
$theme-primary-highlight-color: ;
$theme-primary-highlight-shadow-color: $dark-yellow;
$theme-primary-text-color: white;

$error-color: $red;
$error-shadow-color: $dark-red;
$success-color: $green;
$success-shadow-color: $dark-green;


$text-box-background-color: #FFFFFF;
$text-box-border-color: #3A3A3A;

$select-action-icon-color: #FFA427;
$favorite-action-icon-color: #FF3D3D;
$action-icon-color: $light-grey;
$action-icon-hover-color: $dark-grey;

$input-color: $black-text-color;
$input-default-background-color: $light-grey;
$input-background-color: $light-grey;
$input-focus-background-color: $grey;
$input-placeholder-color: #A9A9A9;

$input-focus-border-color: $theme-primary-color;

$inverted-input-background-color: white;
$inverted-input-focus-background-color: $dark-grey;
$inverted-input-placeholder-color: $darkest-grey;

/* z-indexes */
$pic-z-index: 1;
$search-book-cover-pic-z-index: 1;
$club-pic-action-z-index: 2;
$post-more-actions-z-index: 2;
$sidebar-backdrop-z-index: 10;
$thread-scroll-area-z-index: 10;
$disabled-form-cover-z-index: 10;
$side-bar-z-index: 10;
$discussion-today-marker-z-index: 1000;
$popover-z-index: 1000;
$popover-body-z-index: 1001;
$popover-top-z-index: 1002;
$sidebar-content-z-index: 1003;
$popup-z-index: 2000;

// Button variables

$toggle-primary-color: $theme-primary-color;
$toggle-hover-color: $theme-primary-shadow-color;

// Calendar variables

$calendar-area-background: $light-grey;
$calendar-background: white;

$border-color: $light-grey;
$header-hover-background: $dark-grey;

// Club variables

$book-club-history-area-background: $light-grey;
$timeline-color: white;

$discussion-background: $theme-primary-color;
$discussion-hover-background: $theme-primary-shadow-color;

$discussion-create-color: $theme-primary-color;
$discussion-create-hover-color: $theme-primary-shadow-color;

// Clubs variables

$action-color: $light-grey;
$action-hover-color: $grey;

$club-even-color: $light-grey;
$club-hover-color: $grey;

$edit-color: $theme-primary-highlight-color;
$edit-hover-color: $theme-primary-highlight-shadow-color;

$remove-color: $error-color;
$remove-hover-color: $error-shadow-color;

$right-side-background: $light-grey;

// Discussion variables

$thread-area-background: #FFFFFF;
$thread-background: $lighter-grey;

$thread-topics-background: $lighter-grey;
$thread-topic-background: white;
$thread-topic-text-color: $black-text-color;
$thread-graphic-background: $theme-secondary-color;
$send-btn-background: $theme-primary-color;
$send-btn-hover-background: $theme-primary-shadow-color;
$cancel-btn-background: $grey;
$cancel-btn-hover-background: $dark-grey;
$active-reply-border: $theme-primary-color;

$thread-action-create-thread-background: $theme-primary-color;
$thread-action-create-thread-hover-background: $theme-primary-shadow-color;

$reply-border-color: $theme-primary-color;

$timeline-entry-background: white;
$timeline-entry-border: $dark-grey;
$timeline-entry-active-background: $theme-primary-color;
$timeline-entry-active-border: $theme-primary-color;
$today-marker-background: $red;

$details-primary: $theme-primary-color;
$details-hover: $theme-primary-shadow-color;
$details-active: $theme-primary-active-color;

// Guest page variables

$page-background-color: $light-grey;

// List variables

$even-background-color: $lightest-grey;
$odd-background-color: $light-grey;
$hover-background-color: $dark-grey;

$inverted-even-background-color: $dark-grey;
$inverted-odd-background-color: white;
$inverted-hover-background-color: $darker-grey;

// Pagination controls variables

$disabled-background: $dark-grey;

// Popover variables

$popover-background: #484848;

// Popup variables

$popup-backdrop: rgba(black, 0.5);
$popup-background: white;
$popup-title-background: $theme-primary-color;
$popup-title-text-color: white;

// Search variables

$search-selected-background-color: $light-grey;

$search-type-color: $light-grey;
$search-type-hover-color: $grey;
$active-search-type-color: $theme-primary-color;

$select-for-club-option-active: $theme-primary-color;

// Sidebar variables

$sidebar-grey: $darkerest-grey;

$sidebar-background: $sidebar-grey;
$sidebar-toggle-btn-hover-background: $dark-grey;
$sidebar-window-title-background: $dark-grey;

$logout-btn-background: $theme-primary-color;
$logout-btn-color: white;
$logout-text-background: $theme-primary-color;
$logout-text-color: white;
$logout-text-background: $theme-primary-color;
$profile-pic-background: $theme-primary-color;
$link-border-color: $dark-grey;
$link-hover-background: $dark-grey;
$link-text-color: white;
$open-btn-background: $sidebar-grey;

$logout-button-background: $purple;
$logout-button-hover-background: $dark-purple;

$sidebar-button-background: $purple;

// User variables

$user-info-background: $light-grey;

// Extends

